
.site-commit{
    padding-bottom: 255px;
}

.commit-container{
    width: 1150px;
}

.commit{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left{
        border-radius: 8px;
    }
}



.commit-title{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin: 0 0 32px;
    padding: 0;
}

.commit-desc{
    line-height: 26px;
    color: #333D4B;
    padding: 0;
    margin: 0;
}