.about-hero{
    background-image: url("../images/about-hero.jpg");
    border-radius: 10px;
    background-size: 1280px 450px;
    background-repeat: no-repeat;
    width: 1280px;
    height: 600px;
    padding: 137px 0 137px 85px;
}

.about-hero__title{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.about-hero__desc{
    line-height: 26px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
}