.collection-container{
    width: 1151px;
}

.collection{
    background-image: url("../images/our-collection.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom 460px;
    padding: 260px 0 200px;
}

.collection__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.collection__item-h3{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin: 0 0 24px;
    padding: 0;
}

.collection__item-desc{
    line-height: 26px;
    text-align: center;
    color: #333D4B;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1060px){
    .collection{
        &__list{
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 770px){
    .collection{
        padding: 12.7rem 0 7rem;
        background-position: center bottom 60rem;

        &__list{
            flex-direction: column;
        }

        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            &-img{
                margin-right: 36px;
            }

            &-h3{
                text-align: left;
            }

            &-desc{
                text-align: left;
            }
        }
    }
}