.site-header{
    padding: 43px 0;
}

.site-header__hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-header__hero-nav-logo:hover{
      opacity: 0.8;
  }

  .site-header__hero-nav-logo:active{
      opacity: 0.6;
  }

  .site-nav__list{
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .site-nav__item{
      padding: 7px 0px 7px;
  }

  .site-nav__item + .site-nav__item{
      margin-left: 32px;
  }


  .site-nav__item-a{
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: #83888F;
    }

.site-nav__item-a:hover{
    color: #333D4B;
    cursor: pointer;
}