.hero{
    padding: 117px 0 116px 85px;
    background-image: url("../images/hero-img.jpg");
    border-radius: 10px;
    background-size: 1280px 600px;
    background-repeat: no-repeat;
    width: 1280px;
    height: 600px;
}

.hero__title{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
}

.hero__p{
    margin: 0;
    padding: 32px 0 56px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}