
.site-work--sub{
    padding: 100px 0;
}

.container--work-sub{
    width: 1280px;
    padding: 100px 0 100px 85px;
    background-color: #2C343E;
    border-radius: 10px;
}

.work__line--sub{
    top: 214px;
    left: 50%;
    margin-left: -540px;
    border-bottom: 2px solid #FDD6BA;
    z-index: 1;
    width: 769px;
}

.work__line-item--sub{
    background-color: #2C343E;
}


.work__item-title--sub{
    color: #FEFCF7;
}

.work__item-desc--sub{
    color: #FEFCF7;
}
